<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <%- include('../templates/common/meta.ejs') %>
    <link rel="stylesheet" href="/style/error.css">
</head>
<body>

<img src="/images/error/403.jpg" alt="Access Denied"/>
</body>
</html>